[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/check"]
	path = vendor/check
	url = https://github.com/libcheck/check.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "vendor/doxygen"]
	path = vendor/doxygen
	url = https://github.com/doxygen/doxygen.git
[submodule "vendor/cscout"]
	path = vendor/cscout
	url = https://github.com/dspinellis/cscout.git
[submodule "vendor/analyzer"]
	path = vendor/analyzer
	url = https://github.com/goblint/analyzer.git
[submodule "vendor/valgrind"]
	path = vendor/valgrind
	url = https://sourceware.org/git/valgrind.git
[submodule "vendor/--recursive"]
	path = vendor/--recursive
	url = https://github.com/cimgui/cimgui.git
[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "vendor/zlog"]
	path = vendor/zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "vendor/-recursive"]
	path = vendor/-recursive
	url = https://github.com/nigels-com/glew.git
[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/nigels-com/glew.git
[submodule "vendor/Nuklear"]
	path = vendor/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "vendor/MiniXML"]
	path = vendor/MiniXML
	url = https://github.com/chuckatkins/MiniXML.git
[submodule "vendor/libexpat"]
	path = vendor/libexpat
	url = https://github.com/libexpat/libexpat.git
