# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ignored directories
/build/
/research/
/vendor/
/cmake-build-debug/
*.pdf
/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/one_off/
/cmake-build-debug/src/
/cmake-build-debug/test/
/cmake-build-debug/Testing/
/cmake-build-debug/vendor/
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeDoxyfile.in
/cmake-build-debug/CMakeDoxygenDefaults.cmake
/cmake-build-debug/CTestTestfile.cmake
/cmake-build-debug/paciFIST_engine
/cmake-build-debug/run_unit_tests_engine
